<!DOCTYPE html>
<html lang="en" domain="{{ metadata.domain }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ renderData.title or title or metadata.title | escape }}</title>
        <meta name="theme-color" content="#f9c412">
        <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
        <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
        <link rel="icon" href="{{ 'src/assets/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
        <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="preconnect" href="/" crossorigin>

        {% set desc = renderData.description or description %}
        {% if not desc %}
        {% set desc = content | striptags | truncate(140) %}
        {% endif %}
        {% if desc %}
        <meta name="description" content="{{ desc | escape  }}">
        <meta property="og:description" content="{{ desc | escape }}">
        {% endif %}
        {% if image %}
        <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
        {% endif %}

        <!--<script async defer src="{{ "/js/min.js" | addHash }}"></script>-->
        <script defer src="{{ "/js/min.js" | addHash }}"></script>

    </head>

    <body class="bg-gray-50 dark:bg-gray-900 dark:text-slate-300 h-screen flex flex-col">
        <script src="{{ "/js/prerender.min.js" | addHash }}"></script>

        {% include "layouts/header.njk" %}
        <main class="max-w-7xl mx-auto flex-grow">
            <article>
                {% block article %}
                {{ content | safe }}
                {% endblock %}

                {% if page.url and page.url.indexOf("/posts/") > -1 %}
                <p>Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
                {% endif %}
            </article>
        </main>
        {% include "layouts/footer.njk" %}

    </body>
</html>
