<footer class="w-full backdrop-blur border-t-2 py-3">
    <div class="max-w-7xl mx-auto">
        <a href="/about/">{{ metadata.author.name }}</a>
        Current page: {{ page.url | url }}
    </div>
</footer>
