---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}

  <div class="mt-12 mx-auto max-w-4xl prose prose-slate prose-headings:text-indigo-500 prose-a:text-teal-600 hover:prose-a:text-teal-500 prose-img:max-w-xl prose-img:mx-auto prose-h1:text-slate-50 prose-code:before:content-none prose-code:after:content-none">

    {% if image %}
      {% imageNjk image | url, title %}
    {% endif %}

    <div class="">
      {% set wc = content | striptags | wordcount %}
      {% set wPerMinute = (wc / 240) + 1 %}
      <aside class="">
        {{ wPerMinute | round }} min read
      </aside>

      <h1 class="stroke-text pl-4">{{ title }}</h1>

    </div>

    <p class="stroke-text">{{ description }}</p>

    {{ content | safe }}

    <h1>🙏🙏🙏</h1>
    <p>
      Since you've made it this far, <a href="{{ shareUrl | safe }}" on-click="share">sharing</a> this article on your favorite social media network
      would be highly appreciated 💖! For feedback, please
      <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">ping me on Twitter.</a>
    </p>
  </div>

  <share-widget>
    <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
      <div></div>
    </button>
  </share-widget>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ title }}",
    "image": [],
    "author": "{{ metadata.author.name }}",
    "genre": "{{ metadata.genre }}",
    "publisher": {
      "@type": "Organization",
      "name": "{{ metadata.publisher.name }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ 'src/assets/img/favicon/favicon-192x192.png' | addHash }}"
      }
    },
    "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
    "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
    "datePublished": "{{ page.date | htmlDateString }}",
    "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
    "description": "{{ content | striptags | truncate(140) }}"
  }
  </script>

{% endblock %}
