@import "prism";
/*! purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*! purgecss end ignore */

/* Prevent layout shift when scrollbar present */
html {
  scrollbar-gutter: stable both-edges;
}

/* Color customization */
:root {
  --primary: #f9c412;
  --primary-dark: #e7bf60;
}

.test-dead-code-elimination-sentinel {
  color: red;
}

/* Avoid the header hiding the content on anchor scroll. */
article * {
  scroll-margin-top: 50px;
}

/* "Content-visibility: auto" move the images over the other elements
   Set z-index to keep the nav over the rasterized images */
header nav {
  z-index: 1;
}

/*! purgecss start ignore */
:root {
  --main-width: calc(100vw - 3em);
}

@media (min-width: 37.5em) {
  :root {
    --main-width: calc(37.5em - 3em);
  }
}
/*! purgecss end ignore */

html:not([class="dark"]) .light--hidden {
    display: none;
}

html[class="dark"] .dark--hidden {
    display: none;
}

share-widget {
  position: fixed;
  right: 30px;
  bottom: 20px;
  opacity: 0.9;
}


.stroke-text {
  -webkit-text-stroke: 1px black;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* --------------------------------------------------------------------------
Single variable font.

Note that you may want to do something like this to make sure you're serving
constant fonts to older browsers:
html {
  font-family: 'Inter UI', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter UI var', sans-serif;
  }
}
*/
/* @font-face {
  font-display: optional;
  font-family: "Inter UI";
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url("/fonts/Inter-3.19.var.woff2") format("woff2");
} */
