@import "prism";
/*! purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*! purgecss end ignore */

/* Prevent layout shift when scrollbar present */
html {
  scrollbar-gutter: stable both-edges;
}

/* Disable <a> children mouseovers, avoids duplicate prefetching in JS */
a * {
  pointer-events: none;
}

/* Hidden in light mode */
html:not([class="dark"])
.light--hidden {
  display: none;
}

/* Hidden in dark mode */
html[class="dark"]
.dark--hidden {
  display: none;
}

/* Dim images in dark mode */
html[class="dark"] img {
  filter: brightness(.9);
}

share-widget {
  position: fixed;
  right: 30px;
  bottom: 20px;
  opacity: 0.9;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Used only for unit test to ensure PurgeCSS removal  */
.test-dead-code-elimination-sentinel {
  color: red;
}
